<div  x-bind:class="Modal.open && Modal.type === 'sidebar'  ? '!right-0' : ' right-[-120%] md:right-[-100%]'" class=" right-[-120%] md:right-[-100%] md:hidden fixed z-[9992]
  md:w-[450px]  w-full xs:w-9/12 flex flex-col gap-4
     bg-white  top-0 transition-all duration-300 pb-10">
     <div class="flex flex-col  h-screen ">
    <div class=" justify-start flex-col flex items-center gap-2">
        <div class=" flex justify-between w-full px-4 items-center py-3 border-y border-[#E5E6E6]">
            <div class=" font-bold">القائمة الرئيسية</div>
     
            <button aria-label="فتح القائمه الجانبية" class=" bg-[#F5F6F6] border border-[#ECEEEE] w-[24px] h-[24px] flex items-center justify-center"
            @click="toggle('sidebar')">
            <i class="fi flex items-center fi-rr-cross-small"></i>
        </button>
        </div>
        <div class='flex flex-col w-full'>
        {% for item in global?.lists?.header %}
        <a aria-label="list of headerList sideBar" href="{{item?.url}}" :class="item?.url == window.location.pathname ? 'bg-[#F5F6F6]' : '' "
            class=" p-3 w-full border-t transition-all duration-300 bg-white hover:bg-[#F5F6F6]  first:border-t-0 last:border-b  border-[#EAEAEA]  flex items-center justify-between font-bold ">
            
            {{item.title}}
    
        </a>
        {% endfor %}
        </div>
    </div>
    </div>
</div>

<div x-on:click="toggle('sidebar')" x-bind:class="Modal.open  && Modal.type === 'sidebar' ? 'opacity-10 !flex' : 'hidden bg-opacity-0'"
    class=" bg-black  transition-all duration-400  top-0 md:hidden fixed hidden   w-screen h-screen z-[9991]"></div>