<div q-panel="cart" q-panel-position="left" q-panel-direction="left"
    class="hidden md:w-[360px] w-full xs:w-9/12 flex-col gap-4 bg-white h-screen">
    <div class="flex flex-col h-full" x-data="xDataCart()">
        <!-- Header -->
        <div class="flex bg-white border-b border-[#E5E6E6] justify-between p-4 sticky top-0 z-10">
            <div class="flex gap-2 items-center">
                <span x-text="(cart?.items?.length ?? 0)"
                class="w-[18px] h-[18px] flex items-center justify-center bg-mainColor text-white">
          </span>
                <p class="text-[#313535] text-xl font-bold">السلة</p>
            </div>
            <button q-close-panel="cart" aria-label="فتح السلة"
                class="bg-[#F5F6F6] border border-[#ECEEEE] w-[24px] h-[24px] flex items-center justify-center"
                @click="toggle('cart')">
                <i class="fi flex items-center fi-rr-cross-small"></i>
            </button>
        </div>

        <!-- Loading State -->
        <div x-show="loading.cart" :style="`background-color: ${data.app.settings.mainColor}1F`" class="w-full h-full flex items-center justify-center z-20 absolute ">
            <qumra-loading loading-size="20px" loading={true}></qumra-loading>
        </div>

        <!-- Scrollable Content -->
        <div class="flex-1 overflow-y-auto" x-show="cart?.items && cart?.items.length > 0 && !loading.cart">
            <div class="px-4 py-6 flex flex-col gap-4">
                <template x-for="item in cart?.items" :key="item._id">
                    <div class="border-[#E5E6E6] border bg-white p-3 gap-2 flex justify-between items-center">
                        <div class="flex items-center gap-3">
                            <div class="w-[55px] h-[55px]" x-if="item?.product?.images?.length">
                                <img :src="item?.product?.images[0]?.imageUrl" alt="صورة المنتج" loading="lazy"
                                    class="w-full h-full object-cover">
                            </div>
                            <div class="flex flex-col gap-1">
                                <h6 x-text="item.product.title"
                                    class="w-[126px] text-ellipsis overflow-hidden text-nowrap text-[#434A5B]"></h6>
                                <div class="flex items-center w-[126px] flex-wrap gap-1">
                                    <p x-text="item.totalPriceForItem" class="text-nowrap font-bold text-[#434A5B]"></p>
                                    <p x-show="+item.discount > 0" x-text="item.totalPriceForItemBeforeDiscount"
                                        :class="item.discount > 0 ? 'line-through' : ''"
                                        class="text-nowrap text-sm text-[#929A9A]"></p>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col items-end gap-4 h-full justify-between">
                            <span>
                                <i @click="clearCartItem(item._id)"
                                    class="fi flex items-center justify-center text-[18px] text-[#929A9A] cursor-pointer fi-rr-trash"></i>
                            </span>
                            <div class=" flex w-[90px] h-6 items-center gap-2">
                                <span
                                    class=" flex w-full h-full items-center justify-center border rounded-mainRadius border-[#E5E5E5] cursor-pointer"
                                    @click="decreaseCartItem(item._id,item.quantity)"><i class="fi fi-rr-minus-small"></i></span>
                                    <span  class="w-full h-full bg-[#F3F3F3] rounded-mainRadius flex items-center justify-center" x-text="item.quantity"></span>
                                <span 
                                    class=" flex w-full h-full items-center justify-center border rounded-mainRadius border-[#E5E5E5] cursor-pointer"
                                    @click="increaseCartItem(item._id, item.quantity)"><i class="fi fi-rr-plus-small"></i></span>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>

        <!-- Fixed Bottom Section -->
        <div class="bg-white border-t border-[#E5E6E6] sticky bottom-0 p-4 flex flex-col gap-6 z-10"
            x-show="cart?.items && cart?.items.length > 0 && !loading.cart">
            <div class="flex flex-col gap-2">
                <div class="flex justify-between">
                    <span>السعر قبل الخصم</span>
                    <span x-text="cart?.totalProducts"></span>
                </div>
                <div class="flex justify-between">
                    <span>توفير</span>
                    <span x-text="cart?.productDiscount"></span>
                </div>
                <div class="flex justify-between font-bold">
                    <span>المجموع</span>
                    <span x-text="cart.totalPrice"></span>
                </div>
            </div>
            <div class="flex flex-col gap-[10px]">
                <a aria-label="showCart" href="/cart"
                    class="py-2 border-mainColor border flex items-center justify-center rounded-mainRadius transition-all hover:bg-mainColor hover:text-white duration-300 h-[42px] font-bold text-[#313535] w-full">
                    اعرض السلة
                </a>
                <button :disabled="loading.checkout" aria-label="اتمام الطلب" @click="checkout()"
                    class="py-2 rounded-mainRadius bg-mainColor h-[42px] text-white w-full">
                    <span x-show="!loading.checkout">اتمام الطلب</span>
                    <template x-if="loading.checkout">
                        <div class="flex justify-center">
                            <qumra-loading color="white" loading-size="20px" loading={true}></qumra-loading>
                        </div>
                    </template>
                </button>
            </div>
        </div>

        <!-- Empty Cart State -->
        <template x-if="!cart?.items || cart?.items.length === 0 && !loading.cart">
            <div class="flex items-center h-full justify-center flex-col gap-10">
                <div>
                    <a aria-label="latestproduct" href="/latest">
                        <i style="font-size: 128px;"
                            class="fi text-mainColor flex items-center fi-rr-shopping-cart-add hover:scale-105 transition-all duration-300"></i>
                    </a>
                </div>
                <div class="flex flex-col gap-6">
                    <h5 class="text-[#313535] font-bold text-xl">لا يوجد منتجات في السلة</h5>
                    <a aria-label="showproduct" href="/latest"
                        class="hover:scale-105 transition-all duration-300 flex justify-center items-center h-[40px] bg-mainColor rounded-mainRadius text-white px-6">
                        تابع التسوق
                    </a>
                </div>
            </div>
        </template>
    </div>
</div>
<script src={{"cart.js" | assets}}></script>
