.qumra-cart-badge {
  position: absolute;
  top: -8px;
  right: -15px;
  display: inline-flex;
  height: 1.25rem;
  width: 1.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: #f87171;
  background-color: rgba(248, 113, 113, var(--tw-bg-opacity));
  padding: .25rem;
  font-size: .75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.qumra-alert-wrapper {
  position: fixed;
  z-index: 9999;
  width: 300px;
  max-width: 80%;
}

.qumra-alert-top-left {
  top: 20px;
  left: 20px;
}

.qumra-alert-top-center {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.qumra-alert-top-right {
  top: 20px;
  right: 20px;
}

.qumra-alert-bottom-left {
  bottom: 20px;
  left: 20px;
}

.qumra-alert-bottom-center {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.qumra-alert-bottom-right {
  bottom: 20px;
  right: 20px;
}
/* Bounce animation for appearance */
@keyframes bounceIn {
  0% {
    transform: scale(0.3) perspective(500px) rotateX(90deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.1) perspective(500px) rotateX(0deg);
    opacity: 1;
  }
  70% {
    transform: scale(0.9) perspective(500px) rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) perspective(500px) rotateX(0deg);
    opacity: 1;
  }
}

/* Fade-out animation for disappearance */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}


.qumra-alert {
  padding: 20px;
  border-radius: 8px;
  text-align: right;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  animation: bounceIn 0.5s ease-out forwards;
}

/* Class for fade-out effect */
.qumra-alert-wrapper.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

.qumra-alert-icon {
  flex-shrink: 0;
}

.qumra-alert-message {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.qumra-alert-description {
  margin: 5px 0 0;
  font-size: 14px;
}
.qumra-alert-info {
  background-color: #2196F3;
}

.qumra-alert-success {
  background-color: #4CAF50;
}

.qumra-alert-warning {
  background-color: #FF9800;
}

.qumra-alert-error {
  background-color: #F44336;
}