<script src="{{'filterProperties.js' | assets}}"></script>
<div q-panel="filter" q-panel-position="left" q-panel-direction="left"
  class="hidden md:w-[360px] w-full xs:w-9/12 flex-col gap-4 bg-white">
  <div class="flex flex-col h-full gap-6">

    <!-- Header -->
    <div class="flex bg-white border-b border-[#E5E6E6] justify-between p-4 sticky top-0">
      <div class="flex gap-2 items-center">
        <p class="text-[#313535] text-xl font-bold">تصفية حسب</p>
      </div>
      <button aria-label="إغلاق التصفية"
        class="bg-[#F5F6F6] border border-[#ECEEEE] w-[24px] h-[24px] flex items-center justify-center"
        q-toggle="filter">
        <i class="fi flex items-center fi-rr-cross-small"></i>
      </button>
    </div>

    <!-- Filter Content -->
    <div class="flex flex-col gap-6 px-6 overflow-y-auto"
      x-data="xDataPropertiesFilter()">
    <div class=" flex gap-[10px]">
       <div  x-show="FilterCategoryItems.length > 0 || selectedFilters.colors.length > 0 || selectedFilters.texts.length > 0"  class="pb-1 flex scrollbar-custom overflow-auto gap-2 flex-1">
        <template x-for="item in selectedFilters.colors ">
          <div class=" flex gap-1 border-l border-neutral200 pl-2">
            <i  @click="addFilter('colors', item)" class="fi cursor-pointer fi-rr-cross-small"></i>
            <span x-text="item.title" class=" text-sm font-semibold  text-nowrap"></span>
          </div>
        </template>
        <template x-for="item in FilterCategoryItems ">
          <div class=" flex gap-1 border-l border-neutral200 pl-2">
            <i @click="toggleFilterCategory(item)" class="fi cursor-pointer fi-rr-cross-small"></i>
            <span x-text="item.title" class=" text-sm font-semibold  text-nowrap"></span>
          </div>
        </template>
        <template x-for="item in selectedFilters.texts ">
          <div class=" flex gap-1 border-l border-neutral200 pl-2">
            <i  @click="addFilter('texts', item)" class="fi cursor-pointer fi-rr-cross-small"></i>
            <span x-text="item.title" class=" text-sm font-semibold  text-nowrap"></span>
          </div>
        </template>
       </div>
       <div x-show="selectedFilters.colors.length || FilterCategoryItems.length || selectedFilters.texts.length" @click="clearAllFilters()" class="flex items-center cursor-pointer gap-1">
         <i class="fi fi-rr-cross-small  text-red-600"></i>
         <span class=" text-red-600 font-semibold">الغاء الكل</span>
       </div>
    </div>
      {% include "../filterCategory/index.njk" ignore missing %}
      {% include "../priceing/index.njk" ignore missing %}
      {% include "../filterColor/index.njk" ignore missing %}
      {% include "../filterText/index.njk" ignore missing %}

    </div>
  </div>
</div>
