<div id="spinner-container" class="fixed top-0 left-0 z-[999999] w-screen h-screen flex flex-col items-center justify-center">
   {# <img class="w-36 h-32 object-contain" :src="window.__qumra__?.data.app.logoUrl" alt="logo"> #}
   <img class="w-36 h-32 object-contain" src={{global.app.logoUrl}} alt="logo">
   <div class="w-8 h-8 border-loading rounded-full animate-spin"></div>
</div>
