{%macro showMore(text="",link="")%}
<div class="text-center">
           <div class="flex item-center justify-center gap-4 transition-all duration-300 group-next cursor-pointer">
            {{text}}
            <div class=' w-max transition-all duration-300 next-arrow rounded-full flex item-center justify-center p-2'>
              <i class="fa-solid fa-arrow-left  text-brown" ></i>
            </div>
           </div>
     </div> 
{%endmacro%}


{%macro  navogationLink(firstText="",firstLink="",secondText="",secondLink="")%}
    <a href="{{firstLink}}" class="text-sm text-brown">{{firstText}}</a>
     <i class="fa-solid fa-chevron-left text-sm text-brown " style="font-size: 9px;"></i>
     <a class="text-sm text-brown" id="linkProduct">{{secondText}}</a>
{%endmacro%}



{%macro searchBox()%}
<div id="searchBar" class="searchBar hidden bg-white w-full fixed top-0 z-9 p-4">
  <div class="flex justify-end">
    <img id="x-close-search" class="w-full cursor-pointer object-contain transition-filter duration-300 x-red-hover"
     src={{"images/cancel.png" | assets}} alt="Close">
        </div>
  <div class="flex flex-col item-center justify-center">
      <div class="text-center text-xl">ما الذي تبحث عنه؟</div>
      <div class="flex justify-center">
          <div class="w-8/12 border-b flex py-4">
              <form action="search" class="w-full flex" method="get" >
                  <i class="fa-brands fa-searchengin text-2xl"></i>
                  <input name="q" class="outline-none px-2 w-full" type="search" placeholder="Search...">
              </form>
          </div>
      </div>
  </div>
</div>

<script>
      document
        .getElementById('open-search')
        .addEventListener('click', function () {
            document
                .getElementById('searchBar')
                .classList
                .remove('hidden');
        });

    document
        .getElementById('x-close-search')
        .addEventListener('click', function () {
            document
                .getElementById('searchBar')
                .classList
                .add('hidden');
        });
</script>
{%endmacro%}


{%macro language()%}
<div class=" border border-white w-max px-14 ">
  <i class="fa-solid fa-earth-americas text-white"></i>
  <select class=" outline-none py-3 cursor-pointer bg-brown text-white">
      <option>English</option>
      <option>عربي</option>
  </select>
</div>
{%endmacro%}
