{# {% from "components/dropDown/index.njk" import dropDown %} #}
<!-- header -->

<div style="z-index: 100;" class=" sticky  flex   top-0  flex-col gap-8 shadow-mainColor w-full">
    <div class="">
        {# <div class=" h-9 items-center flex  bg-mainColor">
            <div class="container w-full  md:flex-row flex-col   flex justify-between">
                <div class="  flex  text-white ">
                    {%for listItem in global.lists.topMenu%}
                    <a href="{{listItem.url}}"
                        class=" last:border-none text-center border-l  px-3">{{listItem.title}}</a>
                    {%endfor%}
                </div>
            </div>
        </div> #}
        <div style="height: 69px;" class=" w-full  bg-white flex items-center py-3 z-100">
            <div class=" flex items-center justify-between container">
                <div class=" flex gap-8">
                    <div class="flex items-center gap-3">
                        <svg x-on:click="toggle('sidebar')" class="  hidden-lg block cursor-pointer w-[35px] h-[35px]"
                            viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M3 7.25C3 6.83579 3.33579 6.5 3.75 6.5H20.25C20.6642 6.5 21 6.83579 21 7.25C21 7.66421 20.6642 8 20.25 8H3.75C3.33579 8 3 7.66421 3 7.25ZM3 12.5C3 12.0858 3.33579 11.75 3.75 11.75H20.25C20.6642 11.75 21 12.0858 21 12.5C21 12.9142 20.6642 13.25 20.25 13.25H3.75C3.33579 13.25 3 12.9142 3 12.5ZM11.25 17.75C11.25 17.3358 11.5858 17 12 17H20.25C20.6642 17 21 17.3358 21 17.75C21 18.1642 20.6642 18.5 20.25 18.5H12C11.5858 18.5 11.25 18.1642 11.25 17.75Z"
                                fill="{{global.app.settings.mainColor}}" stroke="{{global.app.settings.mainColor}}"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <a href="/">
                            <img class=" h-12 w-20  object-contain" src={{global.app.logoUrl}} alt="Logo">
                        </a>
                    </div>

                    <div class=" flex un-hidden-lg justify-start items-center gap-10 ">
                        {% for item in global.lists.header%}

                        <a href="{{item.url}}"
                            class="  rounded-md text-customBlack font-bold {{item.class}}">{{item.title}}</a>
                        {% endfor %}
                    </div>
                </div>


                <div class=" flex gap-3 md:gap-6  items-center">
                    <div class=" w-max">

                        <div x-on:click="toggle('search')"
                            style="background-color: {{global.app.settings.mainColor}}1F;" class="cursor-pointer group hover:scale-105 transition-all duration-300  rounded-full w-[45px] 
                    h-[45px]  flex items-center justify-center ">
                            <i class="fi flex items-center text-[20px] text-mainColor fi-rr-search"></i>

                        </div>
                    </div>
                    <div class=" w-max">

                        <div x-on:click="toggle('cart')" style="background-color: {{global.app.settings.mainColor}}1F;"
                            class=" cursor-pointer group hover:scale-105 transition-all duration-300  rounded-full w-[45px] h-[45px]  flex items-center justify-center  relative">
                            <i class="fi text-[20px] text-mainColor flex items-center fi-rr-shopping-cart"></i>

                            <span x-text="cart.items ? cart.items.length : 0" class="text-white absolute top-0 right-0 transform translate-x-[3%] translate-y-0 w-[14px] h-[14px]
                        text-[10px] rounded-full flex items-center justify-center bg-mainColor">
                                0
                            </span>

                        </div>
                    </div>
                    <div class="w-max">
                        <qumra-user-menu iconsize="20px"
                            iconcolor="{{global.app.settings.mainColor}}"></qumra-user-menu>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- header -->

{% include "common/static/cart/index.njk" ignore missing %}
{% include "common/static/search/index.njk" ignore missing %}
{% include "common/static/sideBar/index.njk" ignore missing %}