{# {% from "components/dropDown/index.njk" import dropDown %} #}
<!-- header -->

<div style="z-index: 99;" class=" sticky  flex   top-0  flex-col gap-8 shadow-mainColor w-full">
    <div class="">
        <div class=" h-9 items-center flex  bg-mainColor">
            <div class="container w-full  md:flex-row flex-col   flex justify-between">
                <div class=" un-hidden-lg  flex   text-white ">
                    {%for listItem in global.lists.topMenu%}
                    <a href="{{listItem.url}}"
                        class=" last:border-none text-center border-l  px-3">{{listItem.title}}</a>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div style="height: 69px;" class=" w-full  bg-white flex items-center py-3 z-9999">
            <div class=" flex items-center justify-between container">
                <div class=" flex gap-8">
                    <div class="flex items-center gap-3">
                        <svg id="toggle-sideBar" class="  hidden-lg block cursor-pointer w-[35px] h-[35px]"
                            viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M3 7.25C3 6.83579 3.33579 6.5 3.75 6.5H20.25C20.6642 6.5 21 6.83579 21 7.25C21 7.66421 20.6642 8 20.25 8H3.75C3.33579 8 3 7.66421 3 7.25ZM3 12.5C3 12.0858 3.33579 11.75 3.75 11.75H20.25C20.6642 11.75 21 12.0858 21 12.5C21 12.9142 20.6642 13.25 20.25 13.25H3.75C3.33579 13.25 3 12.9142 3 12.5ZM11.25 17.75C11.25 17.3358 11.5858 17 12 17H20.25C20.6642 17 21 17.3358 21 17.75C21 18.1642 20.6642 18.5 20.25 18.5H12C11.5858 18.5 11.25 18.1642 11.25 17.75Z"
                                fill="{{global.app.settings.mainColor}}" stroke="{{global.app.settings.mainColor}}"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <img class=" h-12 w-20  object-contain" src={{global.app.logoUrl}} alt="Logo">
                    </div>

                    <div class=" flex un-hidden-lg justify-start items-center gap-10 ">
                        {% for item in global.lists.header%}

                        <a href="{{item.url}}"
                            class="  rounded-md text-customBlack font-bold {{item.class}}">{{item.title}}</a>
                        {% endfor %}
                    </div>
                </div>


                <div class=" flex gap-3 md:gap-6  items-center">
                    <div x-on:click="toggle('search')" style="background-color: {{global.app.settings.mainColor}}1F;"
                        class="cursor-pointer group hover:scale-105 transition-all duration-300  rounded-full w-[45px] 
                    h-[45px]  flex items-center justify-center ">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M11 3.5C14.0376 3.5 16.5 5.96243 16.5 9C16.5 12.0376 14.0376 14.5 11 14.5C9.48101 14.5 8.10704 13.8852 7.11091 12.8891C6.11479 11.893 5.5 10.519 5.5 9C5.5 5.96243 7.96243 3.5 11 3.5ZM18 9C18 5.13401 14.866 2 11 2C7.13401 2 4 5.13401 4 9C4 10.6625 4.58031 12.1906 5.54828 13.3911L2.21967 16.7197C1.92678 17.0126 1.92678 17.4874 2.21967 17.7803C2.51256 18.0732 2.98744 18.0732 3.28033 17.7803L6.60894 14.4517C7.80944 15.4197 9.33748 16 11 16C14.866 16 18 12.866 18 9Z"
                                fill="#2778C0" stroke="#3881C2" stroke-width="0.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </div>
                    <div x-on:click="toggle('cart')" style="background-color: {{global.app.settings.mainColor}}1F;"
                        class=" cursor-pointer group hover:scale-105 transition-all duration-300  rounded-full w-[45px] h-[45px]  flex items-center justify-center  relative">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.5 1.25C0.5 0.835786 0.835786 0.5 1.25 0.5H2.87846C3.75256 0.5 4.49261 1.14498 4.61205 2.01088L4.67955 2.50024C9.25911 2.51263 13.7281 2.99872 18.0398 3.91236C18.4395 3.99706 18.6979 4.38613 18.6209 4.7874C18.2145 6.90548 17.6717 8.97515 17.002 10.9869C16.9 11.2933 16.6134 11.5 16.2904 11.5H5.5C5.38567 11.5 5.27351 11.5076 5.16393 11.5223C4.28545 11.64 3.55092 12.2153 3.20796 13H16.75C17.1642 13 17.5 13.3358 17.5 13.75C17.5 14.1642 17.1642 14.5 16.75 14.5H2.25948C2.05068 14.5 1.85133 14.413 1.7094 14.2598C1.56747 14.1067 1.4958 13.9013 1.51164 13.6931C1.63566 12.0628 2.73526 10.7069 4.22829 10.2066L3.12612 2.21584C3.10906 2.09214 3.00333 2 2.87846 2H1.25C0.835786 2 0.5 1.66421 0.5 1.25Z"
                                fill="#2778C0" />
                            <path
                                d="M5.5 17C5.5 17.8284 4.82843 18.5 4 18.5C3.17157 18.5 2.5 17.8284 2.5 17C2.5 16.1716 3.17157 15.5 4 15.5C4.82843 15.5 5.5 16.1716 5.5 17Z"
                                fill="#2778C0" />
                            <path
                                d="M15 18.5C15.8284 18.5 16.5 17.8284 16.5 17C16.5 16.1716 15.8284 15.5 15 15.5C14.1716 15.5 13.5 16.1716 13.5 17C13.5 17.8284 14.1716 18.5 15 18.5Z"
                                fill="#2778C0" />
                        </svg>
                        <span x-text="itemsCount"
                            class="  text-white  absolute top-0 right-0 translate-x-[3%] translate-y-0 w-[14px] h-[14px] rounded-full flex items-center basis-6 justify-center bg-mainColor">
                            1
                        </span>
                    </div>
                    <qumra-user-menu iconsize="20px" iconcolor="{{global.app.settings.mainColor}}"></qumra-user-menu>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- header -->
<div id="sideBar" style="z-index: 101;" class="z-[9999]  fixed pt-8 shadow-sm  transition-all duration-300 right-0
  bg-white  w-60 z-9 h-screen hidden">
    <div class=" justify-start flex-col flex items-center gap-4 ">
        <div class=" flex justify-between w-full px-4 items-center">
            <div class=" font-bold">القائمة الرئيسية</div>
            <svg class="cursor-pointer" id="toggle-sideBar" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M6.28033 5.21967C5.98744 4.92678 5.51256 4.92678 5.21967 5.21967C4.92678 5.51256 4.92678 5.98744 5.21967 6.28033L8.93934 10L5.21967 13.7197C4.92678 14.0126 4.92678 14.4874 5.21967 14.7803C5.51256 15.0732 5.98744 15.0732 6.28033 14.7803L10 11.0607L13.7197 14.7803C14.0126 15.0732 14.4874 15.0732 14.7803 14.7803C15.0732 14.4874 15.0732 14.0126 14.7803 13.7197L11.0607 10L14.7803 6.28033C15.0732 5.98744 15.0732 5.51256 14.7803 5.21967C14.4874 4.92678 14.0126 4.92678 13.7197 5.21967L10 8.93934L6.28033 5.21967Z"
                    fill="#DD0000" stroke="#DD0000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        {% for item in global.lists.header %}
        <a href="{{item.url}}"
            class=" p-4 pt-0 w-full border-b text-mainColor border-[#EAEAEA] flex items-center justify-between font-bold ">
            {{item.title}}
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M14.5695 6.60719C14.8853 6.93563 14.8751 7.45789 14.5466 7.77369L10.2151 11.854L14.5466 15.9343C14.8751 16.2501 14.8853 16.7724 14.5695 17.1008C14.2537 17.4293 13.7314 17.4395 13.403 17.1237L8.45299 12.4487C8.29122 12.2931 8.1998 12.0784 8.1998 11.854C8.1998 11.6296 8.29122 11.4149 8.45299 11.2593L13.403 6.58432C13.7314 6.26851 14.2537 6.27875 14.5695 6.60719Z"
                    fill="white" fill-opacity="0.77" stroke="{{global.app.settings.mainColor}}" stroke-opacity="0.77"
                    stroke-width="0.25" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

        </a>

        {% endfor %}
    </div>
</div>
{% include "common/static/cart/index.njk" ignore missing %}
{% include "common/static/search/index.njk" ignore missing %}

<script>
    var sidebarItem = document.getElementById('sidebar-item');
    document.querySelectorAll('#toggle-sideBar').forEach(item => {
        item.addEventListener('click', function () {
            const sideBar = document.getElementById('sideBar');
            sideBar.classList.toggle('hidden');
        });
    });




    console.log("{{global}}", {{ global.app.lists | dump | safe }});
    var test = JSON.parse('{{global.app.lists.header | dump |safe}}')
    test.forEach(element =>
        console.log("Header element:", element)
    );

</script>
{# {
"_id": "678a0b72a0866b0c2f569160",
"status": "open",
"productDiscount": 80.66,
"device": "67477668e02569a889af1a1e",
"visitor": "67477668e02569a889af1a1f",
"totalProducts": 1526.33,
"totalProductsAfterDiscount": 1445.67,
"couponDiscount": 0,
"totalPrice": 1445.67,
"deleted": false,
"app": "66d6ca673d2f4d9c819ae949",
"getCoupon": false,
"createdAt": "2025-01-17T07:49:06.071Z",
"updatedAt": "2025-01-17T07:50:30.983Z",
"__v": 3,
"account": "6789e602a0866b0c2f563854",
"id": "678a0b72a0866b0c2f569160"
} #}