<div x-data="xDataSort()" class="relative md:min-w-[140px] dropdown">
  <div @click="toggleModal('sort')"
    class="dropdown-selected flex gap-5 justify-between items-center rounded-lg px-3 h-10 border border-gray-300 cursor-pointer bg-white">
    <span x-text="selectedLabel || 'فرز حسب'"></span>
    <i :class="{'rotate-180': modal.type === 'sort' && modal.open}"
      class="fi fi-rr-angle-small-down transition-all duration-300"></i>
  </div>

  <ul x-show="modal.type === 'sort' && modal.open" x-transition:enter="transition ease-out duration-200"
    x-transition:enter-start="opacity-0 transform -translate-y-2"
    x-transition:enter-end="opacity-100 transform translate-y-0" @click.away="toggleModal('sort', false)"
    @keydown.escape.window="toggleModal('sort', false)"
    class="dropdown-options absolute top-full left-0 right-0 mt-1 border border-gray-300 rounded-lg bg-white shadow-md z-10 list-none p-0">
    <template x-for="option in options" >
      <li @click="selectOption(option)" class="px-3 py-2 cursor-pointer hover:bg-gray-100" x-text="option.label"></li>
    </template>
  </ul>
</div>

<script src={{"sort.js" | assets}}></script>
