<div class="bg-red-600 container  relative">
  
  <div style="color: #676767" class=" font-[900] text-[32px] ">
    لم يتم العثور علي الصفحة
  </div>
  <div class="text-[#676767] ">
    عذرًا، لم نتمكن من العثور علي الصفحة التي تبحث عنها
  </div>
  <a aria-label="العودة للصفحة الرئيسية" href="/" style="color: #676767"
    class=" flex gap-2 items-center text-white  py-[14px] px-[21px] rounded-lg">
    العودة للصفحة الرئيسية

  </a>
</div>