{% extends "layouts/layout.njk" %}
{% block content %}
<div class="py-6" >
    <div x-show="cart?.items?.length > 0" class=" flex flex-col gap-6 container md:px-4">
        <div class=" flex flex-col gap-2">
            {# <qumra-animation  animation="slide-right"> #}
                <h1 x-text="context.page.title" class=" font-bold text-2xl text-customBlack"></h1>
            {# </qumra-animation> #}
        </div>
        <div class=" flex md:flex-row flex-col gap-[20px] lg:gap-[43px]">
            <div style="border-radius:  20px;" class=" bg-white initial-scroll  md:w-2/3   flex flex-col gap-6">
                {# <input type="hidden" name="cartItem" value="{{item._id}}"> #}
                <template x-for="item in cart?.items" :key="index">
                    {# <qumra-animation duration="" always="true" animation="slide-right"> #}
                    <div class="w-full relative  md:gap-[115px]  flex items-center  rounded-lg
                          shadow-[0px_0px_25px_#D7D7D780] p-3 md:p-[20px]">
                        <div class=" flex items-center flex-row  gap-3 md:gap-4 ">
                            <div class=" w-max">
                                <img :src="item.product.images[0].imageUrl"
                                    class="w-[55px] h-[55px] md:w-[60px] md:h-[60px]"
                                    style=" object-fit: contain; border-radius: 50%;" alt="صورة المنتج">
                            </div>
                            <div class=" flex flex-col  md:flex-row md:items-center md:gap-8 gap-1">
                                <div class="  flex flex-col justify-end  md:items-center md:justify-center">
                                    <div class="text-customBlack md:w-[113px] ">
                                        <div class=" w-full  text-nowrap"
                                            x-text="item.product.title.length > 18 ? item.product.title.slice(0, 18) + '...' : item.product.title">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-[#929292]">
                                    <template x-if="item.properties && item.properties.length > 0">
                                        <template x-for="prop in item.properties" :key="prop.property">
                                            <span class="text-nowrap">
                                                <span x-text="prop.property"></span> : <span
                                                    x-text="prop.value.title"></span>
                                            </span>
                                        </template>
                                    </template>
                                </div>
                                <div
                                    class="text-customBlack flex  md:w-[108px] justify-end md:justify-center md:justify-self-end font-[600] place-self-center">
                                    <div class=" flex items-center gap-1">
                                        <p x-text="item.totalPriceForItem"
                                            class=" text-nowrap font-bold text-[#434A5B]">
                                        </p>
                                        <p x-show="+item.discount > 0" x-text="item.totalPriceForItemBeforeDiscount"
                                            :class="item.discount > 0 ? 'line-through' : ''"
                                            class=" text-nowrap  text-xs text-[#929A9A]">
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div
                            class=" w-1/2 flex md:flex-row flex-col-reverse gap-4 items-end md:items-center justify-between md:w-full  ">

                            <div class=" flex justify-end ">
                                <div class="md:w-[108px] md:h-[32px] w-[84px] h-[24px]">
                                    <qumra-quantity-input size="100%" :item="item._id" :value="item.quantity">
                                    </qumra-quantity-input>
                                </div>
                            </div>
                            <div class=" flex    justify-end gap-4">
                                <button @click="window.Qumra.cart.clearCartItem(item._id)" aria-label="إضافة إلى السلة">
                                    <span
                                        class=" bg-[#F2F2F2] hover:scale-105 transition-all duration-300 rounded-full w-[32px] h-[32px] flex items-center justify-center ">
                                        <i
                                            class="fi flex items-center cursor-pointer justify-center text-[18px] text-red-600 fi-rr-trash"></i>
                                    </span>
                                </button>
                            </div>
                        </div>


                    </div>
                    {# </qumra-animation> #}
                </template>

            </div>
            <div class="md:w-1/3 flex flex-col items-center gap-6">
                <div class="w-full">
                {# <qumra-animation  always="true" animation="zoom"> #}
                <div class="bg-white w-full shadow-[0px_0px_25px_#D7D7D780]  rounded-lg h-max "
                    style="padding:16px 26px 25px ;">
                    <div class=" flex flex-col gap-8">
                        <div class=" flex flex-col gap-4">
                            <div class=" flex flex-col gap-4">
                                <div class="font-bold text-customBlack">
                                    اجمالي الطلب
                                </div>
                                <div class=" border-b border-dashed flex w-full"></div>
                            </div>
                            <div class=" flex flex-col gap-3">
                                <div class=" flex justify-between">
                                    <span class=" font-bold  text-subColor text-base">اجمالي المنتجات</span>
                                    <span x-show="cart?.totalProducts" class=" font-bold text-customBlack"
                                        x-text="cart?.totalProducts">
                                        0
                                    </span>
                                </div>
                                <div class=" flex justify-between">
                                    <span class=" font-bold  text-subColor text-base">توفير</span>
                                    <span class=" font-bold text-customBlack" x-text="cart?.productDiscount">
                                        0
                                    </span>
                                </div>
                                <div class=" flex justify-between">
                                    <span class=" font-bold  text-subColor text-base">سعر المنتحات النهائي</span>
                                    <span class=" font-bold text-customBlack" x-text="cart?.totalProductsAfterDiscount">
                                        0
                                    </span>
                                </div>
                                {# {%if context.cart.couponDiscount > 0 %}
                                <div class=" flex justify-between">
                                    <span class=" font-bold  text-subColor text-base">كود خصم
                                        ({{context.cart.coupon.code}})</span>
                                    <span class=" font-bold text-customBlack">

                                        {{context.cart.couponDiscount}}

                                    </span>
                                </div>
                                {%endif%} #}
                            </div>
                            <div class=" border-b border-dashed flex w-full"></div>
                            <div class=" flex justify-between">
                                <span class=" font-bold  text-subColor text-base">الإجمالي</span>
                                <span class=" font-bold text-customBlack" x-text="cart?.totalProductsAfterDiscount">
                                    0
                                </span>
                            </div>
                        </div>

                        <button :disabled="checkoutLoading" aria-label="اتمام الطلب" @click="Qumra.order.checkout()" :disabled="couponLoading" :class="couponLoading ? 'bg-gray-400' : 'bg-mainColor'"
                        class="py-2  rounded-mainRadius h-[42px] text-white w-full">
                        <span x-show="!checkoutLoading"> اتمام الطلب</span>
                        <template x-if="checkoutLoading">
                            <div class=" flex justify-center ">
                                <qumra-loading color="white" loading-size="20px" loading={true}></qumra-loading>
                            </div>
                        </template>
                    </button>
                    
                    </div>
                </div>

            {# </qumra-animation> #}
            </div>
        </div>

        </div>

    </div>

    <div x-show="cart?.items && cart?.items?.length === 0" class=" w-full h-screen flex justify-center items-center">
        <div class="flex flex-col items-center gap-2">
            <i class="fi flex items-center text-9xl text-[#777777] fi-rr-box-open"></i>
            <div class=" font-bold text-[#777777] text-[32px]">سلتك فارغة</div>
        </div>

    </div>

</div>
{% endblock %}