@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@tailwind screens;
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
 
.bg-mainColor {
  background-color: var(--mainColor) !important;
}
.text-mainColor {
  color: var(--mainColor) !important;
}
.text-subColor{
  color: #6C6D6E !important;
}
.shadow-mainColor {
  box-shadow: 0 1px 8px -5px var( --mainColor , 0.1)  !important;
}
.shadow-all{
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}
.bg-subColor {
  background-color: #6C6D6E !important;
}
.border-mainColor {
  border-color: var(--mainColor) !important;
}
.text-nowrap {
  text-wrap: nowrap;
}

@media (max-width: 992px) {
  .un-hidden-lg {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .hidden-lg {
    display: none !important;
  }
}
.z-999999999 {
  z-index: 999999999;
}
.z-9999999999 {
  z-index: 9999999999;
}



// .coupon-container{

// }


@media (max-width: 767px) {
  
}

@media (max-width: 767px) {
  
}







.text-maingold {
    color: var(--maingold);
  }
  .loading-buler{
    backdrop-filter: blur(2px);
  }
  .z-9999 {
    z-index: 9999;
  }
  
  .main-bg {
    background-color: var(--backgroundColor);
  }
  
  .text-brown {
    color: var(--mainColor);
  }
   .text-sush-bg {
    color: var(--backgroundColor);
   }

  .hover-bg-black:hover {
    background-color: #000 !important;
  }
  
  .hover-bg-brown:hover {
  
    background-color: var(--mainColor) !important;
  }
  .hover-text-brown:hover{
     color: var(--mainColor) !important;
  }
  
  .bg-gray {
    background-color: var(--gray);
  }
  
  .border-brown {
    border-color: var(--mainColor);
  }
  .border-loading {
    border: 2px solid var(--mainColor); 
    border-right-color: transparent; 
  }
  #spinner-container{
    background: linear-gradient(
      to bottom,
      #f1f1f1,#ffffff,#f1f1f1
    );
  }
  .border-pink {
    border-color: var(--pink);
  }
  
  .text-redDiscount {
    color: var(--reddiscount);
  }
  
  .shadow-lg {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  .h-max {
    height: max-content !important;
  }
  
  .z-999999999 {
    z-index: 999999999;
  }

  
  /* home style */
  .swiper-slide {
    width: 100%;

  }
  .initial-scroll::-webkit-scrollbar {
     
    width: 5px;
    background-color: rgba(220, 220, 220, 0.408);

  }
  .cart-scroll::-webkit-scrollbar {
     
    width: 2px;
    background-color: rgba(220, 220, 220, 0.511);

  }
  ::-webkit-scrollbar {
     
    width: 5px;
    background-color: rgba(220, 220, 220, 0.511);

  }
 
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
  .swiper-button-next {
    right: 10px;
  }
  .x-red-hover:hover {
    filter: invert(27%) sepia(100%) saturate(1100%) hue-rotate(359deg) brightness(101%) contrast(101%);
}
  .swiper-pagination-progressbar {
    top: 90% !important;
    width: 148px !important;
    left: 45% !important;
  }
  @media (max-width: 767px) {
    .swiper-pagination-progressbar {
      left: 30% !important;
    }
  }
  
  .swiper-pagination-progressbar-fill {
    background: white !important;
  }
  
  @media (max-width: 767px) {
  
    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }
  }
  .screen-hom{
    scale: 1.1;
  }
  .caption {
    position: absolute;
    bottom: 38%;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    color: gold;
    font-size: 2.5rem;
    font-weight: bolder;
  }
  
  .center {
    right: 40%;
  }
  
  .group-next:hover {
    font-size: medium;
  
    .next-arrow {
      border: 2px solid var(--browen) !important;
    }
  }
  
  .translate-down-10 {
    transform: translateY(10px);
  }
  
  .min-h-80 {
    min-height: 15rem;
  }
  .z-9999999999{
    z-index: 9999999999;
  }
  /* home style */
  // header
  .dropdown-content {
    display: none;
}
.menu .menu-item:hover .subMenu {
    display: block;
}
// endheader


.right-0 {
  right: 0;
}

.right-closed {
  right: -120%;
}

@media (min-width: 768px) {
  .md\:right-closed {
      right: -100%;
  }
}

