<div x-data="{ 
    IsOpen: {}, 
    toggleGroup(title) {
        this.IsOpen[title] = !this.IsOpen[title];
    },
}">
    <div x-show="filterData.filters.properties.text.length > 0" class="flex flex-col gap-4">
        <template x-for="group in filterData.filters.properties.text" :key="group.title">
            <div class="rounded-lg border border-[#E5E5E5] p-4 flex flex-col items-start gap-3">
                <div @click="toggleGroup(group.title)" class="w-full flex items-center justify-between cursor-pointer">
                    <span x-text="group.title" class="font-semibold text-[#434A5B]"></span>
                    <svg :class="IsOpen[group.title] ? 'rotate-180' : ''" width="24" height="25" viewBox="0 0 24 25"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M6.2762 9.15125C6.6345 8.80674 7.20424 8.81791 7.54875 9.1762L12 13.9015L16.4513 9.1762C16.7958 8.81791 17.3655 8.80674 17.7238 9.15125C18.0821 9.49576 18.0933 10.0655 17.7488 10.4238L12.6488 15.8238C12.4791 16.0003 12.2448 16.1 12 16.1C11.7552 16.1 11.5209 16.0003 11.3513 15.8238L6.25125 10.4238C5.90674 10.0655 5.91791 9.49576 6.2762 9.15125Z"
                            fill="#434A5B" stroke="#434A5B" stroke-width="0.25" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
                <div x-show="IsOpen[group.title]" x-collapse class="w-max grid grid-cols-3 gap-2">
                    <template x-for="c in group.data" :key="c.id">
                        <div @click="addFilter('texts', c.id)"
                            :class="isSelected('texts', c.id) ? 'border-mainColor' : 'border-[#E5E5E5]'"
                            class="cursor-pointer flex gap-1 items-center py-1 px-[10px] rounded-full border transition">
                            <div class="w-max">
                                <span x-effect="console.log('Selected Filters:', selectedFilters)"></span>
                                <span :class="isSelected('texts', c.id) ? 'bg-mainColor text-white' : ''"
                                    class="w-5 h-5 rounded-full border border-[#E5E5E5] flex items-center justify-center">
                                    <i x-show="isSelected('texts', c.id)"
                                        class="fi flex items-center text-white text-xs font-bold fi-rr-check"></i>
                                </span>

                            </div>
                            <div class="truncate">
                                <span x-text="c.title" class="text-[#434A5B] text-sm truncate"></span>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </template>
    </div>
</div>